# ===== SERVIDOR =====
PORT=8000
DEBUG=true

# ===== BASE DE DATOS =====
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# ===== JWT =====
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRATION=86400

# ===== IA =====
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash

# ===== REDIS =====
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=