# ===== SECRETOS =====
.env
*.env

# ===== PYTHON =====
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# ===== GIT =====
.git
.gitignore

# ===== IDEs =====
.idea/
.vscode/
*.iml

# ===== SISTEMA =====
.DS_Store
Thumbs.db
