package {{ paquete_base }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{ nombre_clase_principal }} {

    public static void main(String[] args) {
        SpringApplication.run({{ nombre_clase_principal }}.class, args);
    }
}
