package {{ paquete_base }}.repository;

import {{ paquete_base }}.entity.{{ nombre_clase }};
{% if id_compuesto_clase %}
import {{ paquete_base }}.entity.{{ id_compuesto_clase }};
{% endif %}
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ nombre_clase }}Repository extends JpaRepository<{{ nombre_clase }}, {{ pk_tipo_java }}> {
}
