package {{ paquete_base }}.service;

import {{ paquete_base }}.dto.request.{{ nombre_clase }}Request;
import {{ paquete_base }}.dto.response.{{ nombre_clase }}Response;
{% for import in imports %}
import {{ import }};
{% endfor %}

import java.util.List;

public interface {{ nombre_clase }}Service {

    List<{{ nombre_clase }}Response> listar();

    {{ nombre_clase }}Response obtener({{ parametros_id }});

    {{ nombre_clase }}Response crear({{ nombre_clase }}Request datos);

    {{ nombre_clase }}Response actualizar({{ parametros_id }}, {{ nombre_clase }}Request datos);

    void eliminar({{ parametros_id }});
{% for metodo in metodos %}

    {{ metodo.tipo_retorno }} {{ metodo.firma }};
{% endfor %}
}
